@using PlanIt.Domain.Entities
@model PlanIt.Domain.Entities.Plan

<!-- Modal -->
<div id="modal" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Who are you?</h5>
      </div>
      <div class="modal-body">
        <div class="list-group">
          @foreach (var user in @Model.Users ?? Enumerable.Empty<User>())
          {
            <a class="list-group-item list-group-item-action" data-user-id="@user.Id"
            data-bs-dismiss="modal">@user.Name</a>
          }
        </div>
      </div>
      <div class="modal-footer">
        <div class="input-group mb-3">
          <input id="newUsernameInput" type="text" class="form-control" placeholder="Insert your name!"
            aria-label="Insert your name!" aria-describedby="addButton">
          <button class="btn btn-outline-secondary" type="button" id="addButton" data-bs-dismiss="modal">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>


@section Scripts
{
<script>
  document.ready(function () {
    let currentUser;
    const modal = new bootstrap.Modal(document.getElementById("modal"), {
      keyboard: false,
      focus: true
    })

    const userListItems = document.getElementsByClassName("list-group-item");
    for (i = 0; i < userListItems.length; i++) {
      userListItems[i].addEventListener("click", function (event) {
        currentUser = event.target.attributes["data-user-id"];
        fillCalendar(false);
      });
    }

    const newUsernameInput = document.getElementById("newUsernameInput");
    const addButton = document.getElementById("addButton");
    addButton.addEventListener("click", function (event) {
      currentUser = newUsernameInput.value;
      fillCalendar(true);
    })

    function fillCalendar(isNewUser) {
      //TODO 
      // create calendar (maibe implent a js class?)
      // fill calendar with all the availabilities
      // fill calendar with free days selected by the user (if not new)
    }

    modal.show();
  });
</script>
}