<style>
    .fixed-bottom-center {
        position: fixed;
        bottom: 10rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
    }
</style>

<div id="errAlert" class="alert alert-danger fixed-bottom-center" role="alert" style="display: none;">
</div>
