<style>
    .monthSelectorArrow:hover {
        opacity: 0.5;
    }

    .cursor-pointer {
        cursor: pointer;
    }

</style>

<div class="container mt-5" style="width: 20rem">
    <div class="row">
        <div class="col"></div>
        <div class="col-auto">
            <div id="prevMonthArr" class="monthSelectorArrow cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                </svg>
            </div>
        </div>
        <div class="col-6 text-center">
            <p id="monthp" class="lead"></p>
        </div>
        <div class="col-auto">
            <div id="nextMonthArr" class="monthSelectorArrow cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <strong>Mo</strong>
        </div>
        <div class="col">
            <strong>Tu</strong>
        </div>
        <div class="col">
            <strong>We</strong>
        </div>
        <div class="col">
            <strong>Th</strong>
        </div>
        <div class="col">
            <strong>Fr</strong>
        </div>
        <div class="col">
            <strong>Sa</strong>
        </div>
        <div class="col">
            <strong>Su</strong>
        </div>
    </div>
    @for (int row = 0; row < 6; row++)
    {
        <div class="row py-1">
            @for (int col = 0; col < 7; col++)
            {
                <div id="de_@(col + row*7)" class="col text-center">
                    -
                </div>
            }
        </div>
    }
</div>
